body {
  background-color:black;
  color:#FFFFFF;  
  background-image:url('bg.png');
  background-size: 100%;
}
p {
  color:red;
  font-size:120%;
  font-weight: 600;
}
.title {
  text-align:center;
}

.pic {
height : auto;
height : 200px;
width : 550px;
}

.vedio {
  text-align:center;
}

a {
  font-size:120%;
}
#menu1{
  color:purple;
}
#menu2{
  color:purple;
}
#menu3{
  color:purple;
}
#army1{
  color:green;
}
#army2{
  color:green;
}
#army3{
  color:green;
}
#buy1{
  color:orange;
}
#buy2{
  color:orange;
}
#buy3{
  color:orange;
}
#buy4{
  color:orange;
}
#buy5{
  color:orange;
}
#knife1{
  color:pink;
}
#knife2{
  color:pink;
}