body {
  background-color:black;
  color:#FFFFFF;  
  background-image:url('bg.png');
  background-size: 100%;
}
p {
  color:red;
  font-size:120%;
  font-weight: 900;
}
.title {
  text-align:center;
}

.pic {
height : auto;
height : 200px;
width : 550px;
}

.vedio {
  text-align:center;
}

a {
  font-size:120%;
  
}