body {
  background-color:black;
  color:#FFFFFF;  
  background-image:url('背景.jpg');
  background-size: 100%;
}
p {
  color:red;
}
.title {
  text-align:center;
}

.pic {
height : auto;
height : 200px;
width : 550px;
}

.vedio {
  text-align:center;
}

.123 {
  margin-left:600px;
}